verdi_core/src/anl/verdi/util/VersionInfo.java
verdi_bootstrap/data/tl_2014_us_county/
verdi_core/lib_src/gt-api-12.2-sources.jar
verdi_core/lib_src/gt-brewer-12.2-sources.jar
verdi_core/lib_src/gt-coverage-12.2-sources.jar
verdi_core/lib_src/gt-coverage-api-12.2-sources.jar
verdi_core/lib_src/gt-coveragetools-12.2-sources.jar
verdi_core/lib_src/gt-data-12.2-sources.jar
verdi_core/lib_src/gt-epsg-extension-12.2-sources.jar
verdi_core/lib_src/gt-epsg-hsql-12.2-sources.jar
verdi_core/lib_src/gt-epsg-wkt-12.2-sources.jar
verdi_core/lib_src/gt-feature-pregeneralized-12.2-sources.jar
verdi_core/lib_src/gt-geometry-12.2-sources.jar
verdi_core/lib_src/gt-grid-12.2-sources.jar
verdi_core/lib_src/gt-image-12.2-sources.jar
verdi_core/lib_src/gt-jts-wrapper-12.2-sources.jar
verdi_core/lib_src/gt-main-12.2-sources.jar
verdi_core/lib_src/gt-metadata-12.2-sources.jar
verdi_core/lib_src/gt-opengis-12.2-sources.jar
verdi_core/lib_src/gt-referencing-12.2-sources.jar
verdi_core/lib_src/gt-render-12.2-sources.jar
verdi_core/lib_src/gt-shapefile-12.2-sources.jar
verdi_core/lib_src/gt-swing-12.2-sources.jar
verdi_core/lib_src/jcommon-1.0.23-sources.jar
verdi_core/lib_src/thredds_4.5.5.zip
*.qix

