<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="saf.core.runtime" version="1.0" class="saf.core.runtime.CorePlugin">
	<runtime>
    <library id="saf_core" path="bin/" type="code">
          <export prefix="*"/>
     </library>
<!-- per Catherine's update 9/1/2014 put '../verdi_bootstrap/' back into paths of
	next 4 libraries
-->
     <library id="jaramiko" path="../verdi_bootstrap/lib/jaramiko-151.jar" type="code">
          <export prefix="*"/>
     </library>
    <library id="jpf" path="../verdi_bootstrap/lib/jpf.jar" type="code">
          <export prefix="*"/>
     </library>
     <library id="jpf-boot" path="../verdi_bootstrap/lib/jpf-boot.jar" type="code">
          <export prefix="*"/>
     </library>
      <library id="jpf-tools" path="../verdi_bootstrap/lib/jpf-tools.jar" type="code">
          <export prefix="*"/>
     </library>
     <library id="xstream" path="../verdi_core/lib/xstream-1.4.7.jar" type="code">
          <export prefix="*"/>
     </library>
     <library id="log4j-1.2" path="../verdi_core/lib/log4j-1.2-api-2.17.0.jar" type="code">
          <export prefix="*"/>
     </library>
     <library id="log4j-api" path="../verdi_core/lib/log4j-api-2.17.0.jar" type="code">
          <export prefix="*"/>
     </library>
     <library id="log4j-core" path="../verdi_core/lib/log4j-core-2.17.0.jar" type="code">
          <export prefix="*"/>
     </library>
     <library id="log4j-jcl" path="../verdi_core/lib/log4j-jcl-2.17.0.jar" type="code">
          <export prefix="*"/>
     </library>
     <library id="log4j-taglib" path="../verdi_core/lib/log4j-taglib-2.17.0.jar" type="code">
          <export prefix="*"/>
     </library>
    <!--
		<library id="runtime" path="classes/" type="code">
    -->
			<!--
			<doc caption="API documentation">
				<doc-ref path="api/index.html" caption="javadoc"/>
			</doc>
      <export prefix="*"/>
      </library>
			-->
	</runtime>
	<extension-point id="IApplicationRunnable">
		<parameter-def id="class"/>
		<parameter-def id="name"/>
		<parameter-def id="description" multiplicity="none-or-one"/>
	</extension-point>
</plugin>
