<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="anl.verdi" version="1.0" class="anl.verdi.core.VerdiPlugin">
	<requires>
		<import plugin-id="saf.core.runtime" plugin-version="1.0"/>
		<import plugin-id="saf.core.ui" plugin-version="1.0"/>
	</requires>
	<runtime>
		<library id="testrun" path="bin/" type="code">
			<export prefix="*"/>
			<!--
				<doc caption="API documentation">
				<doc-ref path="api/index.html" caption="javadoc"/>
				</doc>
			-->
		</library>
		<library type="resources" path="icons/" id="icons"/>
		<library type="resources" path="help/" id="help"/>

		<library id="jai_core" path="../verdi_core/lib/jai_core-1.1.3.jar" type="code">
			<export prefix="*"/>
		</library>
		
		<library id="jai_codec" path="../verdi_core/lib/jai_codec-1.1.3.jar" type="code">
			<export prefix="*"/>
		</library>
		
		<library id="jai_imageio" path="../verdi_core/lib/jai_imageio-1.1.jar" type="code">
			<export prefix="*"/>
		</library>
		
		<library id="jmf" path="../verdi_core/lib/jmf.jar" type="code">
			<export prefix="*"/>
		</library>
		
		<library id="eps" path="../verdi_core/lib/epsgraphics-1.2.jar" type="code">
			<export prefix="*"/>
		</library>

		<library id="velocity" path="../verdi_core/lib/velocity-1.7.jar" type="code">
			<export prefix="*"/>
		</library>
		
		<library id="netcdf" path="../verdi_core/lib/netcdfAll-4.5.5-SNAPSHOT.jar" type="code">
			<export prefix="*"/>
		</library>
		
		<library id="log4j-1.2" path="../verdi_core/lib/log4j-1.2-api-2.0-rc1.jar" type="code">
			<export prefix="*"/>
		</library>

		<library id="log4j-api" path="../verdi_core/lib/log4j-api-2.0-rc1.jar" type="code">
			<export prefix="*"/>
		</library>

		<library id="log4j-core" path="../verdi_core/lib/log4j-core-2.0-rc1.jar" type="code">
			<export prefix="*"/>
		</library>

		<library id="log4j-jcl" path="../verdi_core/lib/log4j-jcl-2.0-rc1.jar" type="code">
			<export prefix="*"/>
		</library>

		<library id="log4j-taglib" path="../verdi_core/lib/log4j-taglib-2.0-rc1.jar" type="code">
			<export prefix="*"/>
		</library>

		<library id="repast" path="../verdi_core/lib/repast_simphony_gis_2_1_0.jar" type="code">
			<export prefix="*"/>
		</library>

		<library id="bufr" path="../verdi_core/lib/bufr-4.3.16.jar" type="code">
			<export prefix="*"/>
		</library>
		
		<library id="jdom" path="../verdi_core/lib/jdom-2.0.5.jar" type="code">
			<export prefix="*"/>
		</library>
		
		<library id="commons-codec" path="../verdi_core/lib/commons-codec-1.9.jar" type="code">
			<export prefix="*"/>
		</library>
		
		<library id="commons-http" path="../verdi_core/lib/commons-httpclient-3.1.jar" type="code">
			<export prefix="*"/>
		</library>
		
		<library id="commons-logging" path="../verdi_core/lib/commons-logging-1.1.3.jar" type="code">
			<export prefix="*"/>
		</library>

		<library id="commons-io" path="../verdi_core/lib/commons-io-2.4.jar" type="code">
			<export prefix="*"/>
		</library>
		
		<library id="jsr-275-1" path="../verdi_core/lib/jsr-275-1.0-beta-2.jar" type="code">
			<export prefix="*"/>
		</library>

		<library id="sgt" path="../verdi_core/lib/sgt_v30.jar" type="code">
			<export prefix="*"/>
		</library>

		<library id="jscience" path="../verdi_core/lib/jscience.jar" type="code">
			<export prefix="*"/>
		</library>

		<library id="jcommon" path="../verdi_core/lib/jcommon-1.0.23.jar" type="code">
			<export prefix="*"/>
		</library>

		<library id="prefsAll" path="../verdi_core/lib/prefsAll.jar" type="code">
			<export prefix="*"/>
		</library>

		<library id="jfree" path="../verdi_core/lib/jfreechart-1.0.19.jar" type="code">
			<export prefix="*"/>
		</library>

		<library id="visad" path="../verdi_core/lib/visad.jar" type="code">
			<export prefix="*"/>
		</library>

		<library id="swingx" path="../verdi_core/lib/swingx-all-1.6.5.jar" type="code">
			<export prefix="*"/>
		</library>

		<library id="reference" path="../verdi_core/lib/reference.jar" type="code">
			<export prefix="*"/>
		</library>

		<library id="xstream" path="../verdi_core/lib/xstream-1.4.7.jar" type="code">
			<export prefix="*"/>
		</library>

		<library id="xpp" path="../verdi_core/lib/xpp3_min-1.1.4c.jar" type="code">
			<export prefix="*"/>
		</library>

		<library id="jide-common" path="../verdi_core/lib/jide-oss-3.5.14.jar" type="code">
			<export prefix="*"/>
		</library>

		<!-- GIS Libraries -->
		<library id="gt-api" path="../verdi_core/lib/gt-api-12.2.jar" type="code">
			<export prefix="*"/>
		</library>

		<library id="gt-coverage" path="../verdi_core/lib/gt-coverage-12.2.jar" type="code">
			<export prefix="*"/>
		</library>

		<library id="gt-coverage-api" path="../verdi_core/lib/gt-coverage-api-12.2.jar" type="code">
			<export prefix="*"/>
		</library>

		<library id="gt-image" path="../verdi_core/lib/gt-image-12.2.jar" type="code">
			<export prefix="*"/>
		</library>

		<library id="gt-main" path="../verdi_core/lib/gt-main-12.2.jar" type="code">
			<export prefix="*"/>
		</library>

		<library id="gt-referencing" path="../verdi_core/lib/gt-referencing-12.2.jar" type="code">
			<export prefix="*"/>
		</library>

		<library id="gt-render" path="../verdi_core/lib/gt-render-12.2.jar" type="code">
			<export prefix="*"/>
		</library>

		<library id="gt-shapefile" path="../verdi_core/lib/gt-shapefile-12.2.jar" type="code">
			<export prefix="*"/>
		</library>

		<library id="gt-swing" path="../verdi_core/lib/gt-swing-12.2.jar" type="code">
			<export prefix="*"/>
		</library>

		<!--library id="gt-epsg-hsql" path="../verdi_core/lib/gt-epsg-hsql-12.2.jar" type="code">
			<export prefix="*"/>
		</library-->

		<library id="gt-epsg-ext" path="../verdi_core/lib/gt-epsg-extension-12.2.jar" type="code">
			<export prefix="*"/>
		</library>

		<library id="gt-epsg-wkt" path="../verdi_core/lib/gt-epsg-wkt-12.2.jar" type="code">
			<export prefix="*"/>
		</library>

		<library id="gt-coveragetools" path="../verdi_core/lib/gt-coveragetools-12.2.jar" type="code">
			<export prefix="*"/>
		</library>

		<library id="gt-geometry" path="../verdi_core/lib/gt-geometry-12.2.jar" type="code">
			<export prefix="*"/>
		</library>

		<library id="gt-grid" path="../verdi_core/lib/gt-grid-12.2.jar" type="code">
			<export prefix="*"/>
		</library>

		<library id="gt-data" path="../verdi_core/lib/gt-data-12.2.jar" type="code">
			<export prefix="*"/>
		</library>

		<library id="gt-jts-wrapper" path="../verdi_core/lib/gt-jts-wrapper-12.2.jar" type="code">
			<export prefix="*"/>
		</library>

		<library id="gt-feature-ag" path="../verdi_core/lib/gt-feature-aggregate-12.2.jar" type="code">
			<export prefix="*"/>
		</library>

		<library id="gt-feature-pr" path="../verdi_core/lib/gt-feature-pregeneralized-12.2.jar" type="code">
			<export prefix="*"/>
		</library>

		<library id="gt-opengis" path="../verdi_core/lib/gt-opengis-12.2.jar" type="code">
			<export prefix="*"/>
		</library>

		<!--library id="hsqldb" path="../verdi_core/lib/hsqldb-2.2.8.jar" type="code">
			<export prefix="*"/>
		</library-->

		<library id="jaramiko" path="../verdi_core/lib/jaramiko-151.jar" type="code">
			<export prefix="*"/>
		</library>
		
		<library id="javadbf" path="../verdi_core/lib/javadbf-0.4.0.jar" type="code">
			<export prefix="*"/>
		</library>
		
		<library id="piccolo2d-core" path="../verdi_core/lib/piccolo2d-core-3.0.jar" type="code">
			<export prefix="*"/>
		</library>
		
		<library id="piccolo2d-extras" path="../verdi_core/lib/piccolo2d-extras-3.0.jar" type="code">
			<export prefix="*"/>
		</library>
		
		<library id="piccolo2d-swt" path="../verdi_core/lib/piccolo2d-swt-3.0.jar" type="code">
			<export prefix="*"/>
		</library>
		
		<library id="GRIP" path="../verdi_core/lib/GRIP.jar" type="code">
			<export prefix="*"/>
		</library>
		
		<library id="jts" path="../verdi_core/lib/jts-1.13.jar" type="code">
			<export prefix="*"/>
		</library>

		<library id="piccolo" path="../verdi_core/lib/piccolo.jar" type="code">
			<export prefix="*"/>
		</library>

		<library id="piccolox.jar" path="../verdi_core/lib/piccolox.jar" type="code">
			<export prefix="*"/>
		</library>

		<library id="vecmath" path="../verdi_core/lib/vecmath-1.3.2.jar" type="code">
			<export prefix="*"/>
		</library>

		<library id="gt-metadata" path="../verdi_core/lib/gt-metadata-12.2.jar" type="code">
			<export prefix="*"/>
		</library>

		<library id="gt-brewer" path="../verdi_core/lib/gt-brewer-12.2.jar" type="code">
			<export prefix="*"/>
		</library>

		<library id="jeo" path="../verdi_core/lib/jeo.jar" type="code">
			<export prefix="*"/>
		</library>
		
		<library id="anlBasic" path="../verdi_core/lib/anlBasic.jar" type="code">
			<export prefix="*"/>
		</library>
		
		<library id="milStd2525" path="../verdi_core/lib/milStd2525_png.jar" type="code">
			<export prefix="*"/>
		</library>

		<library id="omcorba" path="../verdi_core/lib/omcorba.jar" type="code">
			<export prefix="*"/>
		</library>

		<library id="omj3d" path="../verdi_core/lib/omj3d.jar" type="code">
			<export prefix="*"/>
		</library>

		<library id="omsvg" path="../verdi_core/lib/omsvg.jar" type="code">
			<export prefix="*"/>
		</library>

		<library id="unit-api" path="../verdi_core/lib/unit-api-0.6.1.jar" type="code">
			<export prefix="*"/>
		</library>
		
		<library id="icu4j" path="../verdi_core/lib/icu4j-50_1_1.jar" type="code">
			<export prefix="*"/>
		</library>

		<library id="osgi" path="../verdi_core/lib/org.eclipse.osgi-3.9.1.v20130814-1242.jar" type="code">
			<export prefix="*"/>
		</library>

		<library id="uomo-core" path="../verdi_core/lib/org.eclipse.uomo.core_0.7.0.201404240011.jar" type="code">
			<export prefix="*"/>
		</library>
		
		<library id="uomo-ucum" path="../verdi_core/lib/org.eclipse.uomo.ucum_0.7.0.201404240011.jar" type="code">
			<export prefix="*"/>
		</library>
		
		<library id="uomo-ui" path="../verdi_core/lib/org.eclipse.uomo.ui_0.7.0.201404240011.jar" type="code">
			<export prefix="*"/>
		</library>
		
		<library id="uomo-units" path="../verdi_core/lib/org.eclipse.uomo.units_0.7.0.201404240011.jar" type="code">
			<export prefix="*"/>
		</library>
		
		<library id="uomo-util" path="../verdi_core/lib/org.eclipse.uomo.util_0.7.0.201404240011.jar" type="code">
			<export prefix="*"/>
		</library>
		
		<library id="uomo-xml" path="../verdi_core/lib/org.eclipse.uomo.xml_0.7.0.201404240011.jar" type="code">
			<export prefix="*"/>
		</library>
		
		<library id="miglayout-core" path="../verdi_core/lib/miglayout-core-5.1-20150404.220010-96.jar" type="code">
			<export prefix="*"/>
		</library>
		
		<library id="miglayout-swing" path="../verdi_core/lib/miglayout-swing-5.1-20150404.220019-96.jar" type="code">
			<export prefix="*"/>
		</library>
		
		
		<!-- End Gis Imports -->
	</runtime>

	<!-- verdi extension points -->
	<extension-point id="data.DataLoader">
		<parameter-def id="class"/>
		<parameter-def id="description" multiplicity="none-or-one"/>
	</extension-point>

	<!-- verdi extensions -->
	<extension plugin-id="saf.core.runtime" point-id="IApplicationRunnable" id="VerdiRunnable">
		<parameter id="class" value="anl.verdi.core.VerdiPlugin"/>
		<parameter id="name" value="Verdi Application"/>
		<parameter id="description" value="Verdi gui application"/>
	</extension>


	<extension plugin-id="saf.core.ui" point-id="ui.Perspectives" id="anl.verdi.core.perspectives">

		<parameter id="perspective">
			<parameter id="perspectiveID" value="anl.verdi.core.perspective_one"/>
			<parameter id="name" value="Main"/>
			<parameter id="viewGroup">
				<parameter id="groupID" value="anl.verdi.core.main_group"/>
			</parameter>

			<parameter id="viewGroup">
				<parameter id="groupID" value="anl.verdi.core.formula_dataset_group"/>
				<parameter id="location" value="west"/>
				<parameter id="parent" value="anl.verdi.core.main_group"/>
				<parameter id="fillPercentage" value=".3"/>
			</parameter>

		</parameter>
	</extension>


	<extension plugin-id="saf.core.ui" point-id="ui.Menus" id="anl.verdi.core.menus">
		<parameter id="menuSpec">
			<parameter id="menuID" value="file"/>
			<parameter id="label" value="&amp;File"/>
		</parameter>

		<parameter id="menuSpec">
			<parameter id="menuID" value="plots"/>
			<parameter id="label" value="&amp;Plots"/>
		</parameter>

		<parameter id="menuSpec">
			<parameter id="menuID" value="help"/>
			<parameter id="label" value="&amp;Help"/>
		</parameter>
	</extension>

	<extension plugin-id="saf.core.ui" point-id="ui.Actions" id="verdi.actions">

		<parameter id="actionSpec">
			<parameter id="actionID" value="anl.verdi.core.action.OpenAction"/>
			<parameter id="class" value="anl.verdi.core.action.OpenAction"/>
			<parameter id="label" value="&amp;Open Project"/>
			<parameter id="icon" value="project_open.png"/>
			<parameter id="menuID" value="file"/>
			<parameter id="groupID" value="file"/>
			<parameter id="tooltip" value="Open project"/>
		</parameter>

		<parameter id="actionSpec">
			<parameter id="actionID" value="anl.verdi.core.action.SaveAction"/>
			<parameter id="class" value="anl.verdi.core.action.SaveAction"/>
			<parameter id="label" value="&amp;Save Project"/>
			<parameter id="icon" value="filesave.png"/>
			<parameter id="menuID" value="file"/>
			<parameter id="groupID" value="file"/>
			<parameter id="tooltip" value="Save project"/>
		</parameter>

		<parameter id="actionSpec">
			<parameter id="actionID" value="anl.verdi.core.action.SaveAsAction"/>
			<parameter id="class" value="anl.verdi.core.action.SaveAsAction"/>
			<parameter id="label" value="&amp;Save Project As"/>
			<parameter id="menuID" value="file"/>
			<parameter id="tooltip" value="Save project as"/>
		</parameter>

		<parameter id="separator">
			<parameter id="menuID" value="file"/>
		</parameter>
		
		<parameter id="actionSpec">
			<parameter id="actionID" value="anl.verdi.core.action.RunBatchAction"/>
			<parameter id="class" value="anl.verdi.core.action.RunBatchAction"/>
			<parameter id="label" value="&amp;View Script Editor"/>
			<parameter id="menuID" value="file"/>
			<parameter id="tooltip" value="View Script Editor"/>
		</parameter>
		
		<parameter id="separator">
			<parameter id="menuID" value="file"/>
		</parameter>

		<parameter id="actionSpec">
			<parameter id="actionID" value="saf.core.ui.actions.exit"/>
			<parameter id="menuID" value="file"/>
			<parameter id="class" value=""/>
		</parameter>
        
        <!--
		<parameter id="actionSpec">
			<parameter id="actionID" value="anl.verdi.plot.gui.action.TilePlot"/>
			<parameter id="label" value="Tile Plot"/>
			<parameter id="class" value="anl.verdi.plot.gui.action.TilePlot"/>
			<parameter id="groupID" value="runGraph"/>
			<parameter id="tooltip" value="Tile Plot"/>
		</parameter>
		-->

		<parameter id="actionSpec">
			<parameter id="actionID" value="anl.verdi.plot.gui.action.VerticalCrossSection"/>
			<parameter id="label" value="Vertical Cross Section"/>
			<parameter id="class" value="anl.verdi.plot.gui.action.VerticalCrossSection"/>
			<parameter id="groupID" value="runGraph"/>
			<parameter id="tooltip" value="Vertical Cross Section Plot"/>
		</parameter>

		<parameter id="actionSpec">
			<parameter id="actionID" value="anl.verdi.plot.gui.action.TimeSeriesPlot"/>
			<parameter id="label" value="Time Series"/>
			<parameter id="class" value="anl.verdi.plot.gui.action.TimeSeriesPlot"/>
			<parameter id="groupID" value="runGraph"/>
			<parameter id="tooltip" value="Time Series Plot"/>
		</parameter>

		<parameter id="actionSpec">
			<parameter id="actionID" value="anl.verdi.plot.gui.action.TimeSeriesBarPlot"/>
			<parameter id="label" value="Time Series Bar Plot"/>
			<parameter id="class" value="anl.verdi.plot.gui.action.TimeSeriesBarPlot"/>
			<parameter id="groupID" value="runGraph"/>
			<parameter id="tooltip" value="Time Series Bar Plot"/>
		</parameter>

		<parameter id="actionSpec">
			<parameter id="actionID" value="anl.verdi.plot.gui.action.ScatterPlot"/>
			<parameter id="label" value="Scatter Plot"/>
			<parameter id="class" value="anl.verdi.plot.gui.action.ScatterPlot"/>
			<parameter id="groupID" value="runGraph"/>
			<parameter id="tooltip" value="Scatter Plot"/>
		</parameter>

		<!-- parameter id="actionSpec">
			<parameter id="actionID" value="anl.verdi.plot.gui.action.VectorPlot"/>
			<parameter id="label" value="Vector Plot"/>
			<parameter id="class" value="anl.verdi.plot.gui.action.VectorPlot"/>
			<parameter id="groupID" value="runGraph"/>
			<parameter id="tooltip" value="Vector Plot"/>
		</parameter -->

		<parameter id="actionSpec">
			<parameter id="actionID" value="anl.verdi.plot.gui.action.Contour3DPlot"/>
			<parameter id="label" value="Contour Plot"/>
			<parameter id="class" value="anl.verdi.plot.gui.action.Contour3DPlot"/>
			<parameter id="groupID" value="runGraph"/>
			<parameter id="tooltip" value="Contour Plot"/>
		</parameter>
		
        <parameter id="actionSpec">
             <parameter id="actionID" value="anl.verdi.plot.gui.action.FastTilePlot"/>
             <parameter id="label" value="Tile Plot"/>
             <parameter id="class" value="anl.verdi.plot.gui.action.FastTilePlot"/>
             <parameter id="groupID" value="runGraph"/>
             <parameter id="tooltip" value="GeoTools Tile Plot"/>
        </parameter>
            
        <parameter id="actionSpec">
             <parameter id="actionID" value="anl.verdi.plot.gui.action.ArealInterpolation"/>
             <parameter id="label" value="Areal Interp"/>
             <parameter id="class" value="anl.verdi.plot.gui.action.ArealInterpolation"/>
             <parameter id="groupID" value="runGraph"/>
             <parameter id="tooltip" value="Areal Interpolation"/>
        </parameter>
            
		<parameter id="actionSpec">
			<parameter id="actionID" value="anl.verdi.core.action.UndockAllAction"/>
			<parameter id="label" value="Undock All Plots"/>
			<parameter id="icon" value="undock.png"/>
			<parameter id="groupID" value="window"/>
			<parameter id="class" value="anl.verdi.core.action.UndockAllAction"/>
			<parameter id="tooltip" value="Undock All Plots"/>
			<parameter id="menuID" value="plots"/>
		</parameter>

		<parameter id="actionSpec">
			<parameter id="actionID" value="anl.verdi.core.action.AnimatePlots"/>
			<parameter id="label" value="Animate Tile Plots"/>
			<parameter id="class" value="anl.verdi.core.action.AnimatePlots"/>
			<parameter id="menuID" value="plots"/>
		</parameter>

		<parameter id="actionSpec">
			<parameter id="actionID" value="anl.verdi.core.action.Help"/>
			<parameter id="label" value="VERDI Help Docs"/>
			<parameter id="class" value="anl.verdi.core.action.Help"/>
			<parameter id="menuID" value="help"/>
		</parameter>

		<parameter id="actionSpec">
			<parameter id="actionID" value="anl.verdi.core.action.About"/>
			<parameter id="label" value="&amp;About"/>
			<parameter id="class" value="anl.verdi.core.action.About"/>
			<parameter id="menuID" value="help"/>
		</parameter>

	</extension>

	<extension plugin-id="saf.core.ui" point-id="ui.StatusBar" id="bar">
		<parameter id="StatusField">
			<parameter id="name" value="verdi.status.one"/>
			<parameter id="fillPercentage" value=".65"/>
		</parameter>

		<parameter id="StatusField">
			<parameter id="name" value="verdi.status.two"/>
			<parameter id="fillPercentage" value=".35"/>
		</parameter>
		<!--
			<parameter id="StatusField">
			<parameter id="name" value="third"/>
			<parameter id="fillPercentage" value=".25"/>
			</parameter>
		-->
	</extension>
</plugin>
